* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    body {
        font-family: Arial, sans-serif;
        padding: 25px;
        line-height: 1.8;   
        color: #2b004d;     
    }

   
    .container {
        max-width: 900px;
        margin: auto;
        background: #f7f2ff;    
        padding: 25px;
        border-radius: 10px;
        border: 2px solid #6a3fb5;
        line-height: 1.8;
    }

  
    h1, h2, h3 {
        margin-bottom: 18px;
        color: #6a3fb5;        
    }

    /* Buttons */
    button, .btn {
        padding: 12px 18px;
        border: none;
        background: #6a3fb5;  
        color: white;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover, .btn:hover {
        background: #4f2c8a;   
    }

  
    input, textarea, select {
        width: 100%;
        padding: 12px;
        margin: 12px 0;
        border: 1px solid #8a5fe0;
        border-radius: 6px;
        background: #faf5ff;   
        color: #2b004d;
        line-height: 1.6;
    }

   
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }

    table th {
        background: #e9ddff;   
        color: #2b004d;
        padding: 12px;
    }

    table td {
        border: 1px solid #c9b3ff;
        padding: 12px;
    }

    a {
        color: #6a3fb5;
    }

    a:hover {
        text-decoration: underline;
    }
